body {
  font-size: 14px;
  font-family: "Open Sans";
  color: #555555;
  font-weight: normal;
  height: 100%;
  line-height: 1.5; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

.nav-left .inner-img_brand {
  margin: 0px 141px;
  font-family: 'champagne__limousinesbold';
  font-size: 24px;
  color: #5363db; }

.nav-left .img-brand {
  padding: 0;
  margin: 13px 0 0px 4px; }
  .nav-left .img-brand:after {
    width: 0;
    height: 0;
    background-color: transparent; }

.nav-inner {
  margin: 0 auto;
  width: 64%;
  padding: 0 0 3px 0;
  position: relative; }
  .nav-inner ul:nth-child(3) {
    float: right; }
  .nav-inner ul:nth-child(1) {
    /* float: left; */ }
  .nav-inner li {
    float: left; }
    .nav-inner li a {
      font-weight: 600;
      color: #555555;
      overflow: hidden;
      position: relative;
      padding: 4px 0px;
      transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
      display: block;
      margin: 30px 15px; }
      .nav-inner li a:hover:after {
        transform: scale(1); }
      .nav-inner li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 83%;
        height: 2px;
        background-color: #5363db;
        content: "";
        transform: scale(0);
        transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1); }
      .nav-inner li a:hover:after {
        transform: scale(1); }

.nav-inner {
  text-align: center; }

.head-bottom {
  background: url(../img/pic-1.png) no-repeat;
  padding: 102px 0 102px 0; }

.head-bottom_inner {
  width: 76%;
  margin: 0 auto; }

.top-form {
  width: 23%;
  background: #ffffff;
  border-radius: 15px;
  padding: 27px 40px 16px 30px;
  float: left;
  margin: 0px 10px 0 200px; }
  .top-form h3 {
    color: #5363db;
    font-size: 28px;
    margin: 0px 0 18px 0;
    font-weight: normal; }
  .top-form input, .top-form select {
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    margin-bottom: 17px;
    padding-left: 10px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .top-form input ::-webkit-input-placeholder, .top-form select ::-webkit-input-placeholder {
      color: #888888; }
    .top-form input ::-moz-placeholder, .top-form select ::-moz-placeholder {
      color: #888888; }
    .top-form input :-moz-placeholder, .top-form select :-moz-placeholder {
      color: #888888; }
    .top-form input :-ms-input-placeholder, .top-form select :-ms-input-placeholder {
      color: #888888; }
  .top-form select {
    margin-bottom: 30px;
    width: 100%;
    color: #888888; }
  .top-form .last-btn input {
    width: 75%;
    margin-left: 68px;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: bold;
    background: #5b6ceb; }
    .top-form .last-btn input:hover {
      background: #8590e0; }

.content {
  padding-top: 103px; }
  .content h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    color: #5b6ceb;
    text-transform: uppercase;
    width: 30%; }
  .content h4 {
    font-family: 'Freestyle Script';
    font-size: 40px;
    font-weight: normal;
    color: #777777;
    width: 10%;
    margin: 0 auto; }

.slider-text {
  font-size: 43px;
  font-weight: bold;
  color: #ffffff;
  width: 41%;
  margin-left: 83px;
  float: left;
  font-weight: normal; }
  .slider-text h3 {
    font-size: 43px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 56px 0 19px 0; }
  .slider-text span {
    font-family: 'Freestyle Script';
    font-size: 41px; }

.item-box {
  max-width: 89%;
  margin: 0 auto;
  padding: 58px 0 0 0; }
  .item-box .item-box_inner {
    width: 47%;
    -webkit-box-shadow: 4px 2px 31px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 31px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 2px 31px -10px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    float: left;
    margin: 0 29px 29px 0; }
    .item-box .item-box_inner .img-item, .item-box .item-box_inner .text {
      float: left; }
    .item-box .item-box_inner .img-item {
      float: left;
      width: 48%; }
      .item-box .item-box_inner .img-item img {
        max-width: 100%;
        display: block; }
    .item-box .item-box_inner .text {
      padding: 44px 34px 37px 29px;
      width: 40%; }
      .item-box .item-box_inner .text h5 {
        font-size: 20px;
        color: #777777;
        text-transform: uppercase;
        margin: 0 0 25px 0; }
      .item-box .item-box_inner .text a {
        color: #999999;
        -webkit-transition: all  .3s;
        -o-transition: all  .3s;
        transition: all  .3s; }
        .item-box .item-box_inner .text a:hover {
          color: #716161; }

/*=========== content-gallegy ==============*/
.content-gallegy img {
  max-width: 100%; }

.content-gallegy ul {
  /* padding: 40px 0; */
  width: 100%;
  /* max-width: 1140px; */
  /* margin: 0 auto; */
  clear: both;
  position: relative;
  overflow: hidden; }

.content-gallegy li {
  width: 25%;
  margin: 0;
  height: 100%;
  float: left;
  /* margin-bottom: 20px; */ }

.content-gallegy a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.content-gallegy a:before {
  position: absolute;
  width: 58px;
  height: 57px;
  left: 50%;
  margin: -14px 0 0 -10px;
  background: url(../img/pic-38.png) no-repeat;
  content: '';
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.content-gallegy a:hover:before {
  top: 50%;
  opacity: 1; }

.content-gallegy a:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(27, 24, 159, 0.5);
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.content-gallegy a:hover:after {
  opacity: 1; }

.content-gallegy a:hover img {
  opacity: 1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */ }

.content-gallegy a img {
  padding: 0;
  margin: 0;
  /* position: absolute; */
  max-width: 100%;
  height: auto; }

/*=========== content-slider ==============*/
.content-slider {
  width: 88%;
  margin: 0 auto;
  padding: 116px 0 114px 0; }

.content-slider .item-inner_left {
  width: 41%;
  float: left; }
  .content-slider .item-inner_left h3 {
    font-size: 30px;
    font-weight: bold;
    color: #5b6ceb;
    margin: 15px 10px;
    text-transform: uppercase; }

.content-slider .sliders {
  background: white;
  margin-left: 101px;
  width: 48%;
  border-radius: 11px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 4px 2px 31px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 31px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 2px 31px -10px rgba(0, 0, 0, 0.75);
  float: left; }
  .content-slider .sliders .item-img img {
    width: 100%; }
  .content-slider .sliders .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 11px; }

.content-slider .btnLeft {
  position: absolute;
  margin-top: 165px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  opacity: .3;
  margin-left: 20px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out; }

.content-slider .btnLeft:before {
  content: "";
  position: absolute;
  background: rgba(200, 200, 200, 0.4);
  height: 50px;
  width: 50px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-left: -15px;
  margin-top: -25px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out; }

.content-slider .btnLeft:hover {
  opacity: 1;
  cursor: pointer; }

.content-slider .btnLeft:hover:before {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4); }

.content-slider .btnRight {
  position: absolute;
  margin-top: 165px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
  opacity: .5;
  margin-left: 565px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out; }

.content-slider .btnRight:before {
  content: "";
  position: absolute;
  background: rgba(200, 200, 200, 0.4);
  height: 50px;
  width: 50px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin-left: -35px;
  margin-top: -25px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out; }

.content-slider .btnRight:hover {
  opacity: 1;
  cursor: pointer; }

.content-slider .btnRight:hover:before {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4); }

.content-slider .hidden {
  display: none; }

/*=========== conent-improved ==============*/
.content-improved {
  background: url(../img/pic-15.png) no-repeat; }
  .content-improved .content-icon {
    width: 88%;
    margin: 0 auto; }
    .content-improved .content-icon .item-colum {
      width: 23%;
      float: left;
      color: #ffffff;
      text-align: center;
      margin: 122px 30px 10px 0px; }
      .content-improved .content-icon .item-colum p {
        font-size: 16px;
        margin: 16px 0;
        line-height: 1.7; }
      .content-improved .content-icon .item-colum:nth-child(4) {
        margin: 120px 0px 10px 0px; }
        .content-improved .content-icon .item-colum:nth-child(4) h5 {
          width: 44%; }
      .content-improved .content-icon .item-colum h5 {
        font-weight: bold;
        font-size: 18px;
        width: 77%;
        margin: 0 auto;
        padding-top: 27px; }

.content-improved .content-icon_top .item-colum:nth-child(3) h5 {
  width: 65%; }

.content-improved {
  padding: 0 0 94px 0; }
  .content-improved .content-icon_bottom .item-colum {
    margin: 12px 30px 10px 0px; }
    .content-improved .content-icon_bottom .item-colum:first-child h5 {
      padding: 23px 0 32px 0; }
    .content-improved .content-icon_bottom .item-colum:nth-child(4) {
      margin: 24px 0px 10px 0px; }
      .content-improved .content-icon_bottom .item-colum:nth-child(4) h5 {
        width: 53%; }
    .content-improved .content-icon_bottom .item-colum:nth-child(2) h5 {
      width: 66%; }

/*=========== content-tickets ==============*/
.content-tickets {
  width: 88%;
  margin: 0 auto;
  padding: 98px 0 0 0; }
  .content-tickets .content-tickets_inner {
    border-radius: 15px;
    width: 31%;
    float: left;
    margin: 0px 39px 0 0;
    text-align: center;
    -webkit-box-shadow: 0px 5px 17px 0px rgba(48, 50, 50, 0.5);
    -moz-box-shadow: 0px 5px 17px 0px rgba(48, 50, 50, 0.5);
    box-shadow: 0px 5px 17px 0px rgba(48, 50, 50, 0.5);
    background: #fff; }
    .content-tickets .content-tickets_inner:last-child {
      margin: 0; }
    .content-tickets .content-tickets_inner ul {
      margin: 27px 0; }
      .content-tickets .content-tickets_inner ul li {
        font-size: 18px;
        position: relative;
        padding: 19px 0px; }
        .content-tickets .content-tickets_inner ul li:nth-child(1):after, .content-tickets .content-tickets_inner ul li:nth-child(2):after {
          content: "";
          clear: both;
          display: block;
          color: #d7d7d7;
          width: 100px;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 35%;
          background: #d7d7d7; }
        .content-tickets .content-tickets_inner ul li:nth-child(3) {
          margin-bottom: 25px; }
        .content-tickets .content-tickets_inner ul li:last-child {
          margin: 0 auto; }
          .content-tickets .content-tickets_inner ul li:last-child a {
            padding: 12px 48px;
            border-radius: 16px;
            background: #5b6ceb;
            color: #ffffff;
            font-weight: 600; }
          .content-tickets .content-tickets_inner ul li:last-child a:hover {
            background: #7f8be5; }

.top-text {
  background: #5b6ceb;
  padding: 28px 0px;
  position: relative;
  border-radius: 15px 15px 0 0; }
  .top-text:hover {
    background: #7f8be5; }
  .top-text span {
    color: #ffffff;
    font-weight: bold; }
    .top-text span:nth-child(1) {
      font-size: 32px;
      position: absolute;
      top: 41%;
      left: 22%; }
    .top-text span:nth-child(2) {
      font-size: 67px; }
    .top-text span:nth-child(3) {
      font-size: 18px; }

/*================= slider-reviews ==============*/
.box-relative {
  position: relative; }

.slider-reviews {
  width: 88%;
  margin: 99px auto;
  padding: 0px 0px 65px 0px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow: 0px 1px 21px 0px rgba(50, 50, 50, 0.31);
  box-shadow: 0px 1px 21px 0px rgba(50, 50, 50, 0.31);
  background: #fff; }
  .slider-reviews .item-img_right {
    float: left;
    width: 15%;
    padding: 34px 21px 2px 64px;
    text-align: center; }
    .slider-reviews .item-img_right .circkle {
      border-radius: 83px;
      border: 1px solid #dedede;
      padding: 10px 2px 10px 2px;
      width: 83%; }
      .slider-reviews .item-img_right .circkle img {
        width: 87%;
        margin: 0 auto; }
  .slider-reviews .item-slider {
    float: left;
    width: 59%;
    position: relative;
    padding: 23px 0px 0px 40px; }

.slider-reviews .icon-name {
  float: left; }
  .slider-reviews .icon-name .icon-inner {
    border-radius: 83px;
    border: 1px solid #000000;
    width: 60px;
    height: 61px;
    padding: 2px; }

.slider-reviews {
  position: relative; }
  .slider-reviews .item-slider_inner p {
    margin: 21px 0 31px 0; }
  .slider-reviews .item-slider_inner ul li:nth-child(2) {
    color: #5b6ceb;
    font-weight: bold;
    font-size: 16px;
    position: relative; }
  .slider-reviews .item-slider_inner ul:after {
    content: "";
    clear: both;
    display: block;
    width: 2px;
    height: 80px;
    background: #d7d7d7;
    position: absolute;
    left: 0;
    bottom: 4px; }
  .slider-reviews .item-icon ul {
    float: left;
    padding: 10px; }
    .slider-reviews .item-icon ul li:first-child {
      font-weight: bold; }
    .slider-reviews .item-icon ul li:nth-child(2) {
      font-size: 12px; }

.slider-reviews .open-marks {
  position: absolute;
  top: 49px;
  left: 22%; }

.slider-reviews .close-marks {
  position: absolute;
  top: 49px;
  right: 12%; }

.slider-reviews_inner {
  /* .item-icon{
	 		position: absolute;
	 		bottom: -100px;
	 		left: 105px;
	 		z-index: 1;
	 		}  */ }

.slider-reviews.slick-slider .slick-dots:after {
  content: "";
  clear: both;
  display: block; }

.slider-reviews .slick-dots {
  width: 0;
  right: 5px;
  top: 22px; }

.slider-reviews .slick-dots li button {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s; }
  .slider-reviews .slick-dots li button:after {
    border: 2px solid #5b6ceb;
    content: " ";
    display: block;
    height: 15px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
  .slider-reviews .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    text-align: center;
    opacity: 0;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #5b6ceb;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }

.box-relative #slider-review.slider-reviews.slick-slider.slick-initialized .slick-prev, .box-relative #slider-review.slider-reviews.slick-slider.slick-initialized .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: -7%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: #6373ec;
  border: none;
  border-radius: 11px;
  outline: none;
  background: transparent;
  -webkit-box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.27);
  -moz-box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.27);
  box-shadow: 4px 4px 18px 0px rgba(50, 50, 50, 0.27); }

.box-relative #slider-review.slider-reviews.slick-slider.slick-initialized .slick-next {
  position: absolute;
  top: 101%;
  right: 53%;
  background: #ffffff url(../img/pic-36.png) no-repeat 6px 4px; }
  .box-relative #slider-review.slider-reviews.slick-slider.slick-initialized .slick-next:before {
    content: "";
    clear: both;
    display: block; }

.box-relative #slider-review.slider-reviews.slick-slider.slick-initialized .slick-prev {
  position: absolute;
  top: 101%;
  left: 23%;
  background: #ffffff url(../img/pic-35.png) no-repeat 6px 4px; }
  .box-relative #slider-review.slider-reviews.slick-slider.slick-initialized .slick-prev:before {
    content: "";
    clear: both;
    display: block; }

/*=================== footer ==================*/
footer {
  background: #5b6ceb; }

.footer-inner {
  width: 84%;
  margin: 0 auto; }

.footer-top .item-first {
  width: 42%;
  float: left; }

.footer-top .item-seccond {
  width: 45%;
  float: left;
  margin: 0 0px 0 136px; }

.footer-top .item-third {
  float: left; }

.footer-top {
  color: #ffffff;
  padding: 72px 0 102px 0; }
  .footer-top h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 16px 0 50px 0; }
  .footer-top a {
    color: #ffffff; }
  .footer-top .item-first p {
    margin: 10px 0px 72px 0; }
  .footer-top .item-first li {
    float: left;
    margin-right: 20px; }
    .footer-top .item-first li:last-child {
      margin-right: 0px; }

.footer-top .item-phone {
  float: left;
  width: 41%;
  margin-right: 99px; }
  .footer-top .item-phone li {
    padding: 0px 0px 0px 38px; }
  .footer-top .item-phone li:first-child {
    background: url(../img/pic-32.png) no-repeat 0px 0px;
    padding: 0px 0px 0px 28px;
    margin-bottom: 18px; }
  .footer-top .item-phone li:nth-child(2) {
    background: url(../img/pic-33.png) no-repeat 0px 6px;
    padding: 3px 0px 5px 37px; }

.footer-top .item-third li:first-child {
  margin-bottom: 46px; }
  .footer-top .item-third li:first-child a {
    background: url(../img/pic-31.png) no-repeat 0px 5px;
    padding: 0px 0px 1px 32px; }

.footer-top .item-third li:nth-child(2) a {
  background: url(../img/pic-30.png) no-repeat 0px 0px;
  padding: 0px 0px 2px 32px; }

.item-third a {
  -webkit-transition: all  .3s;
  -o-transition: all  .3s;
  transition: all  .3s; }
  .item-third a:hover {
    color: #fdd15c; }

.footer-bottom {
  padding: 39px 0;
  text-align: center;
  color: #b7bffc;
  background: #5363d8;
  font-size: 16px; }

/*------ sprite -------*/
.footer-top .item-first li a {
  background: url(../img/pic-34.png) no-repeat 0px 0px;
  width: 25px;
  height: 21px;
  text-indent: -99999px;
  color: #ffffff;
  display: block; }

.footer-top .item-first li a.piper {
  width: 17px; }
  .footer-top .item-first li a.piper:hover {
    background-position: 0px -21px; }

.footer-top .item-first li a.twiter {
  background-position: -17px 0; }
  .footer-top .item-first li a.twiter:hover {
    background-position: -17px -21px; }

.footer-top .item-first li a.facebook {
  background-position: -42px 0;
  width: 13px; }
  .footer-top .item-first li a.facebook:hover {
    background-position: -42px -21px; }

.footer-top .item-first li a.google {
  background-position: -55px 0;
  width: 19px; }
  .footer-top .item-first li a.google:hover {
    background-position: -55px -21px; }

.footer-top .item-first li a.camera {
  background-position: -74px 0;
  width: 21px; }
  .footer-top .item-first li a.camera:hover {
    background-position: -74px -21px; }

main {
  background: url(../img/pic-37.png) no-repeat 25px 106%;
  padding: 0 0 267px 0;
  background-size: contain; }

/* #form input:focus:invalid{ when a field is considered invalid by the browser
 
 border:1px solid red;
} */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  outline: none; }

#form .error-input:focus {
  /* when a field is considered invalid by the browser */
  border-color: red; }

input, textarea {
  outline: none; }

input:active, textarea:active {
  outline: none; }

:focus {
  outline: none; }

textarea {
  resize: none; }

textarea {
  resize: vertical; }

textarea {
  resize: horizontal; }
